fastapi~=0.100.0
databases
pydantic_settings
uvicorn
psycopg2-binary
SQLAlchemy~=1.4.49
virtualenv
Werkzeug~=2.2.2
jsonschema~=4.17.3
Faker~=18.4.0
asyncpg
python-dotenv~=1.0.0
pydantic~=2.0.3
starlette~=0.27.0
Flask~=2.2.5
pytest
httpx