Flask~=2.2.2
Flask-SQLAlchemy
gunicorn
psycopg2-binary
dependency-injector
SQLAlchemy~=2.0.19
virtualenv
Werkzeug~=2.2.2
jsonschema~=4.17.3
Faker~=18.4.0
pytest
python-dotenv~=1.0.0
flask_api
pytz~=2023.3